<mat-toolbar style="height: 96px;">
    <button mat-button class="example-icon">
        <img src="assets/IMG/symbol.svg" style="max-height: none;" >
        
    </button>
    
    <button class="button-box" mat-stroked-button style="margin-left: 46px;"><mat-icon>security</mat-icon> </button>
    <button class="button-box" mat-stroked-button style="background: rgb(255,135,0);
    background: linear-gradient(90deg, rgba(255,135,0,1) 0%, rgba(216,51,103,1) 100%);"><mat-icon style="color: white;">person</mat-icon> </button>

    <mat-form-field style="margin-left: 40px; width: 298px; font-size: 14px;" class="Pesquisa">
        <mat-label>Pesquisar...</mat-label>
        <input type="Pesquisar..." matInput placeholder="">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    
    
    
    
    
    
    <span class="example-spacer"></span>
    <button (click)="clickTune()" class="button-box" mat-stroked-button>
        
            <mat-icon>tune</mat-icon>
       
    </button>
    <button style="height: 48px; margin-left: 8px; background-color:#D83367; color: white;" mat-stroked-button><mat-icon>person</mat-icon> Inculuir Usuario </button>

    <button style="margin-left: 50px;" mat-icon-button><mat-icon>home</mat-icon> </button>
    <button mat-icon-button><mat-icon>settings</mat-icon> </button>
    <button mat-icon-button><mat-icon>power_settings_new </mat-icon> </button>
  </mat-toolbar>