<div class="footer">
    <mat-toolbar class="barra" >
        <mat-icon style="color: #FF8700; " >radio_button_checked </mat-icon>
        <a class="no-ar" >NO AR</a> 
        
       <mat-icon style="color: #666666; margin-left: 85px;">tv</mat-icon>
        <a class="texto"> ENCONTRO - 10:00 </a>
        <mat-icon style="color: #666666; margin-left: 40px;">refresh </mat-icon>
        <a  class="texto">
             Última atualização em {{datanow  | date: 'hh:mm'}}
        </a>
        
        
        <span class="example-spacer"></span>
            <a  class="texto">
                {{datanow  | date: 'fullDate'}} 
            </a>
            <a  style="color: #FF8700 ;font-family: Audiowide; font-size: 24px; margin-left: 16px;">
                
               // {{horanow  | date: 'hh:mm:ss'}} 
            </a>
    </mat-toolbar>
</div>