table {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
  
    }
  
  
  tr:nth-child(even) {
    background-color: #F5F5F5;
    background-color: #E9E9E9;
  }
