


<mat-drawer-container class="sidebar">
    <mat-drawer #drawer class="sidenav" position="end" mode="over" style="background-color: #F5F5F5 ; width: 480px; ">
      
        <mat-toolbar class="header-side">
            
             <mat-icon style="color: #999999;">tune</mat-icon>
          
           <span class="filter-text" >Filter</span>
           <span class="example-spacer"></span>
           <button (click)="drawer.toggle()">
            <mat-icon>close</mat-icon>
          </button>

          
         </mat-toolbar>

         <p class="mensg">Utilize os filtros abaixo para refinar os resultados da tabela, clique no botão APLICAR para salvar as alterações.</p>
         
         <mat-form-field class="botao-calendario" appearance="fill"> 
            <mat-label > <mat-icon>date_range</mat-icon> <span class="texto-cal">TODAS AS DATAS DE INCLUSÃO</span></mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field class="botao-calendario" appearance="fill"> 
            <mat-label> <mat-icon>date_range</mat-icon> <span class="texto-cal">TODAS AS DATAS DE ALTERAÇÃO</span></mat-label>
            <input matInput [matDatepicker]="data">
            <mat-datepicker-toggle matSuffix [for]="data">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #data></mat-datepicker>
          </mat-form-field>

          <mat-toolbar class="ativo-inativo">
            <mat-label> <mat-icon class="icone">hdr_strong </mat-icon> <span class="texto">ATIVOS E INATIVOS</span></mat-label>
            <span class="example-spacer"></span><mat-icon style=" font-weight: 400;">keyboard_arrow_down </mat-icon>

        

         </mat-toolbar>

         <button class="aplicar"  mat-stroked-button>APLICAR</button>

    </mat-drawer>
  
    <div  class="sidenav-content">
        <app-header (tuneClick)="drawer.toggle()" > </app-header>
        <app-table></app-table>
        <app-footer class="footer"></app-footer>
    </div>
  
  </mat-drawer-container> 


